@import "../../webfonts/css/webfonts.scss";

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin typo-bold() {
    font-family: $montserrat-bold, $font-family-fallback;
}

@mixin typo-italic() {
    font-family: $montserrat-italic, $font-family-fallback;
}

@mixin typo-light() {
    font-family: $montserrat-light, $font-family-fallback;
}

@mixin typo-regular() {
    font-family: $montserrat-regular, $font-family-fallback;
}

@mixin typo-semibold() {
    font-family: $montserrat-semibold, $font-family-fallback;
}

@mixin typo-semibold-italic() {
    font-family: $montserrat-semibold-italic, $font-family-fallback;
}

@mixin typo-thin() {
    font-family: $montserrat-thin, $font-family-fallback;
}
