<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col col-md-8">
                    <h2>Default link:</h2>
                    <can-link [url]="'http://www.cornelia-cantieni.ch/#/home'"></can-link>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col col-md-8">
                    <h2>modifier: '--neon'</h2>
                    <can-link [text]="'This is a neon link'" [modifier]="'neon'" [url]="'http://www.cornelia-cantieni.ch/#/home'"></can-link>
                </div>
            </div>
        </div>
    </div>
</section>
