@import "breakpoints.scss";
@import "colors.scss";
@import "icons.scss";
@import "spacings.scss";
@import "typo.scss";

$quote-left-right: -12px;
$quote-left-right-mobile: -25px;

.can-quote {
    padding: $space-medium-desktop 0;
}

.can-quote__text-wrap {
    display: flex;
    flex-direction: column;
    padding: 0 $space-small-desktop;
    text-align: center;

    @media (min-width: $mq-size-m) {
        background-color: rgba($white, 0.8);
        padding: $space-super-large-desktop;
    }
}

.can-quote__text {
    @include fontSize(22px);
    @include typo-italic();
    color: $can-blue-sea;
    padding-bottom: $space-medium;

    strong {
        font-weight: 100;
        position: relative;
    }

    strong:nth-child(1)::before,
    strong:nth-child(2)::after {
        position: absolute;
    }

    strong:nth-child(1)::before {
        @include fasIcon(quote-left, 10px);
        left: $quote-left-right;
        top: 0px;

        @media (min-width: $mq-size-m) {
            left: $quote-left-right-mobile;
        }
    }

    strong:nth-child(2)::after {
        @include fasIcon(quote-right, 10px);
        right: $quote-left-right;
        top: 17px;

        @media (min-width: $mq-size-m) {
            right: $quote-left-right-mobile;
            top: 32px;
        }
    }

    @media (min-width: $mq-size-m) {
        @include fontSize(40px);
    }
}

.can-quote__author {
    @include fontSize(14px);
    color: $can-blue-sea;

    @media (min-width: $mq-size-m) {
        @include fontSize(24px);
    }
}
