<section class="l-page-outer l-page-outer--header" id="header" [class.l-page-outer--header--small]="!isImageHeaderVisible">
    <div class="container">
        <div class="l-page-inner" [class.l-page-inner--small]="!isImageHeaderVisible">
            <div class="row">
                <div class="col">
                    <can-header></can-header>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-off-canvas">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <can-off-canvas></can-off-canvas>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer l-page-outer--quote d-flex align-items-center">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <can-quote></can-quote>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <can-link-tiles></can-link-tiles>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer l-page-outer--gradient">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <can-heading [anchor]="'portrait'" [title]="'Portrait'"></can-heading>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <can-teaser [imgSrc]="'../assets/img/cantieni-portrait.jpg'" [imgAlt]="'Portrait Cornelia Cantieni'" [teaserText]="'Dipl. Pflegefachfrau HF / Intensivpflege Chur / USZ. Berufsschullehrerin Gesundheitswesen Aarau. Qualitätsleiterin und Prozessverantwortliche, Akademie St.Gallen. Coaching, Supervision, Organisationsberatung, BSO ZAK Basel. NLP Practitioner, NLP Ressource-Training, Chur. Ayur-Yogatherapeutin, Zürich. Lernbegleiterin, Spitzenleistung GmbH Manfred Gehr, St.Gallen Sportmassage, Chur.'"
                        [teaserTitle]="'Berufsbildung'">
                    </can-teaser>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <can-teaser [modifier]="'textonly'" [teaserText]="'Durch vielfältige Ausbildungen und Praxiserfahrung habe ich ein Fundament für die zielorientierte Beratung und Begleitung von Menschen und Unternehmen geschaffen. Das lebenslange Lernen und die persönliche Weiterentwicklung in diesen Berufsfeldern ist für mich eine Herzensangelegenheit. Meine Arbeitsweise baut auf Kompetenz, Achtsamkeit und Vertrauen. Die Beratungsgespräche folgen dem systemischen Modell. Bewegungsübungen, kreative und gestalterische Methoden und Kommunikationstrainings ergänzen die Beratungseinheiten situativ.'"
                        [teaserTitle]="'Arbeitsmethoden'">
                    </can-teaser>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <can-teaser [imgSrc]="'../assets/img/cantieni-family.jpg'" [imgAlt]="'Familie Cornelia Cantieni'" [modifier]="'reverse'" [teaserText]="'Mein Mann Thomas Rohner und ich leben in St. Gallen und seit 2015 auch in Biel und sind entsprechend in diesen Regionen engagiert. Projekte und Mandate, in denen die Themen „Holz, Organisation und Gesundheit“ miteinander eine Verbindung eingehen, gestalten wir zusammen.'"
                        [teaserTitle]="'Privatleben'">
                    </can-teaser>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer l-page-outer--gradient">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <can-heading [anchor]="'offers'" [title]="'Angebote'"></can-heading>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer">
    <can-accordion></can-accordion>
</section>
<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <can-teaser [modifier]="'textonly'" [teaserText]="'Bewegung im Kopf, im Geist, in jeder Zelle des Menschen. Ihre Fort- und Weiterbildung ist die Antwort auf die konstante Herausforderung, neuem Wissen und Veränderungen im Beruf zu begegnen. Ziele sind die Bereicherung, die Entwicklung und die Festigung Ihrer Fähigkeiten.'"
                        [teaserTitle]="'Bildung'">
                    </can-teaser>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <can-teaser [modifier]="'textonly'" [teaserText]="'Bewegung, Atmung, Ernährung, Meditation, Selbstachtung. Ayur-Yogatherapie verhilft zu mehr Wohlbefinden, Beweglichkeit, Elastizität, Ruhe und Aufmerksamkeit. Yoga muss sich dem Menschen anpassen und nicht umgekehrt. Nach diesem Prinzip arbeite ich mit Ihnen individuell an Ihrem Gesundheitsbedarf, bei körperlichen Einschränkungen, Erschöpfung und zur Gesundheitsprävention.'"
                        [teaserTitle]="'Ayur- und Yogatherapie'">
                    </can-teaser>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <can-teaser [modifier]="'textonly'" [teaserText]="'Körperliche Beweglichkeit und Fitness ist hilfreich, gesund älter zu werden. In der Bewegung fliessen die Gedanken, Ideen und kreativen Prozesse. Lösungen liegen oft „auf dem Weg oder direkt vor Ihnen“. Durch ein moderates Fitness- und Krafttraining ohne weitere Hilfsmittel und Geräte, in der Natur und bei jeder Witterung.
                    Wenn Sie sich aufgrund reduzierter Beweglichkeit oder höherem Alter nicht mehr trauen, alleine spazieren oder wandern zu gehen, begleite ich Sie und der Ausflug wird zu einem gleichzeitigen Training von Balance und Kraft.'" [teaserTitle]="'Bewegung und Gesundheit'">
                    </can-teaser>
                </div>
            </div>
        </div>
    </div>
</section>