<section class="l-page-outer l-page-outer--header">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <can-header></can-header>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-off-canvas">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <can-off-canvas></can-off-canvas>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer l-page-outer--quote d-flex align-items-center">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <can-quote></can-quote>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <can-link-tiles></can-link-tiles>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer l-page-outer--gradient">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <can-heading [anchor]="'portrait'" [title]="'Portrait'"></can-heading>
                </div>
            </div>
        </div>
    </div>
</section>

