@import "../../breakpoints/css/breakpoints.scss";
@import "../../colors/css/colors.scss";
@import "../../gradients/css/gradients.scss";
@import "../../spacings/css/spacings.scss";

$height-header-mobile: 85px;

.l-off-canvas {
    background-color: $white;
    height: calc(100% - #{$height-header-mobile});
    left: 0;
    opacity: 0;
    position: absolute;
    top: $height-header-mobile;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    z-index: -1;

    @media (min-width: $mq-size-m) {
        display: none;
    }
}

.l-off-canvas--open {
    opacity: 1;
    z-index: 10;
}

.l-page-outer {
    margin: $space-small-desktop 0;

    @media (min-width: $mq-size-m) {
        margin: $space-xx-large 0;
    }
}

.l-page-outer--header {
    margin-top: 0;
    position: relative;

    &::after {
        @include gradient-base();
        bottom: 0;
        content: "";
        height: 5px;
        left: 0;
        position: absolute;
        width: 100vw;
    }

    @media (min-width: $mq-size-m) {
        &::before {
            background-color: $can-grey;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            top: 175px;
            width: 100vw;
        }
    }
}

.l-page-inner {
    padding: $space-small-desktop 0;

    @media (min-width: $mq-size-m) {
        padding: $space-medium 0;
    }
}
