@import "../../breakpoints/css/breakpoints.scss";
@import "../../colors/css/colors.scss";
@import "../../gradients/css/gradients.scss";
@import "../../spacings/css/spacings.scss";
@import "../../z-index/css/z-index.scss";

$body-padding-top: 80px;
$height-header-mobile: 85px;
$height-quote: 580px;
$margin-top-quote: 243px;

.l-off-canvas {
    @include z-index-negative();
    background-color: $white;
    height: calc(100% - #{$height-header-mobile});
    left: 0;
    opacity: 0;
    position: absolute;
    top: $height-header-mobile;
    transition: opacity 0.3s ease-in-out;
    width: 100%;

    @media (min-width: $mq-size-m) {
        display: none;
    }
}

.state-l-off-canvas--open {
    @include z-index('offcanvas');
    opacity: 1;
}

.l-page {
    padding-top: $body-padding-top;

    @media (min-width: $mq-size-m) {
        padding-top: 0;
    }
}

.state-l-page--no-scroll {
    overflow: hidden;
}

.l-page-outer {
    margin: $space-small-desktop 0;

    @media (min-width: $mq-size-m) {
        margin: $space-xx-large 0;
    }
}

.l-page-outer--gradient {
    @include gradient-base();

    @media (min-width: $mq-size-m) {
        background: $white;
    }
}

.l-page-outer--header {
    @include z-index('stickyheader');
    background: $white;
    left: 0;
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;

    &::after {
        @include gradient-base();
        bottom: 0;
        content: "";
        height: 5px;
        left: 0;
        position: absolute;
        width: 100vw;
    }

    @media (min-width: $mq-size-m) {
        margin: 0;

        &::before {
            background-color: $can-grey;
            content: "";
            height: 1px;
            left: 0;
            position: absolute;
            top: 175px;
            width: 100vw;
        }
    }
}

.l-page-outer--quote {
    @media (min-width: $mq-size-m) {
        background: url("./assets/img/stone-foggy.png") no-repeat center center;
        background-attachment: fixed;
        background-size: cover;
        height: $height-quote;
        margin: 0;
        margin-top: $margin-top-quote;
    }
}

.l-page-inner {
    padding: $space-small-desktop 0;

    @media (min-width: $mq-size-m) {
        padding: $space-medium 0;
    }
}
