@import "../../../../shared/utils/breakpoints/css/breakpoints.scss";
@import '../../../../shared/utils/colors/css/colors.scss';
fa-icon {
    background-color: white;
    border-radius: 100%;
    box-shadow: inset 0px 0px 5px $can-blue;
    bottom: 100px;
    position: fixed;
    right: 18px;
    color: $can-blue;
    &:hover {
        cursor: pointer;
    }
}
