@import "../../../../shared/utils/icons/css/icons.scss";
@import "../../../../shared/utils/colors/css/colors.scss";
.can-back-to-top {
    bottom: 100px;
    position: fixed;
    right: 18px;
    color: $can-blue;
    &:before {
        @include fasIcon('arrow-circle-up', 50px, 75px);
    }
    &:hover {
        cursor: pointer;
    }
}