<section class="l-page-outer l-page-outer--gradient">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <h2>Default image position center</h2>
                    <div class="ex-image-container">
                        <can-image [imgSrc]="'assets/img/cantieni-family.jpg'" [imgAlt]="'Familie Cornelia Cantieni'"></can-image>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer l-page-outer--gradient">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <h2>modifier: '--top'</h2>
                    <div class="ex-image-container">
                        <can-image [imgSrc]="'assets/img/cantieni-portrait.jpg'" [imgAlt]="'Familie Cornelia Cantieni'" [modifier]="'top'"></can-image>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
