@import "../../../../shared/utils/breakpoints/css/breakpoints.scss";
@import "../../../../shared/utils/colors/css/colors.scss";
@import "../../../../shared/utils/outline/css/outline.scss";
@import "../../../../shared/utils/spacings/css/spacings.scss";
@import "../../../../shared/utils/typo/css/typo.scss";

$transition-properties: 0.3s ease-in-out;

.can-button {
    display: flex;
}

.can-button__input {
    @include fontSize(18px);
    background-color: transparent;
    border: 2px solid $can-blue-sea;
    color: $can-blue-sea;
    padding: $space-base $space-medium;
    text-align: center;
    transition: color $transition-properties;
    width: 100%;

    @media (min-width: $mq-size-m) {
        @include fontSize(22px);
        padding: $space-base $space-medium-desktop;
        position: relative;
        width: auto;

        &::before {
            background-color: $can-blue-sea;
            bottom: 0;
            content: "";
            display: block;
            height: 100%;
            left: 0;
            position: absolute;
            transition: width $transition-properties;
            width: 0;
            z-index: -1;
        }

        &:active,
        &:focus {
            @include outline();
        }

        &:hover::before {
            width: 100%;
        }

        &:hover {
            color: $white;
            cursor: pointer;
        }
    }
}

.state-can-button--disabled {
    color: $white;
    opacity: 0.2;
    pointer-events: none;
}

@import "./modifier/tile.scss";
