$can-blue: #0083b7;
$can-blue-neon: #0096ed;
$can-blue-sea: #00738e;
$can-blue-light: #73b5d0;
$can-blue-neon-light: #b8ebff;
$can-blue-sea-light: #c4e0e7;
$can-blue-sea-ultralight: #d9eaee;
$can-grey: #d8d8d8;
$can-grey-light: #e3e3e5;
$can-grey-dark: #b8b8b8;
$can-green: #43875b;
$can-red: #b33030;
$can-yellow: #b4951e;
$can-yellow-bg: #d9bd53;

$black: #000000;
$white: #ffffff;

// gradient colors
$can-blue-gradient-dark: #08728e;
$can-blue-gradient-medium: #1984c3;
$can-blue-gradient-light: #2591ec;
