<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col col-md-8">
                    <h2>Default input:</h2>
                    <can-input [id]="'input01'"></can-input>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col col-md-8">
                    <h2>state: '--active'</h2>
                    <can-input [id]="'input02'" [state]="'active'" [inputValue]="'Active input field'"></can-input>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col col-md-8">
                    <h2>state: '--disabled'</h2>
                    <can-input [id]="'input03'" [state]="'disabled'"></can-input>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col col-md-8">
                    <h2>state: '--error'</h2>
                    <can-input [id]="'input04'" [state]="'error'" [inputValue]="'Error value'" [hint]="'This is an error hint'"></can-input>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col col-md-8">
                    <h2>state: '--warning'</h2>
                    <can-input [id]="'input05'" [state]="'warning'" [inputValue]="'Warning value'" [hint]="'This is an warning hint'"></can-input>
                </div>
            </div>
        </div>
    </div>
</section>
