.can-image {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    font-family: 'object-fit: cover; object-position: center center;';
    width: 100%;
}

@import "./modifier/top.scss";
