<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col col-md-8">
                    <h2>Default button:</h2>
                    <can-button></can-button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col col-md-8">
                    <h2>modifier: '--tile':</h2>
                    <can-button [modifier]="'tile'" [text]="'This is a filled button'"></can-button>
                </div>
            </div>
        </div>
    </div>
</section>


