<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <h2>Teaser default with image</h2>
                    <can-teaser [imgSrc]="'../assets/img/cantieni-portrait.jpg'" [imgAlt]="'Portrait Cornelia Cantieni'"
                        [teaserText]="'Dipl. Pflegefachfrau HF / Intensivpflege Chur / USZ. Berufsschullehrerin Gesundheitswesen Aarau. Qualitätsleiterin und Prozessverantwortliche, Akademie St.Gallen. Coaching, Supervision, Organisationsberatung, BSO ZAK Basel. NLP Practitioner, NLP Ressource-Training, Chur. Ayur-Yogatherapeutin, Zürich. Lernbegleiterin, Spitzenleistung GmbH Manfred Gehr, St.Gallen Sportmassage, Chur.'"
                        [teaserTitle]="'Berufsbildung'">
                    </can-teaser>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <h2>modifier: '--textonly'</h2>
                    <can-teaser [imgSrc]="'../assets/img/cantieni-family.jpg'" [imgAlt]="'Familie Cornelia Cantieni'"
                        [modifier]="'textonly'" [teaserText]="'Durch vielfältige Ausbildungen und Praxiserfahrung habe ich ein Fundament für die zielorientierte Beratung und Begleitung von Menschen und Unternehmen geschaffen. Das lebenslange Lernen und die persönliche Weiterentwicklung in diesen Berufsfeldern ist für mich eine Herzensangelegenheit. Meine Arbeitsweise baut auf Kompetenz, Achtsamkeit und Vertrauen. Die Beratungsgespräche folgen dem systemischen Modell. Bewegungsübungen, kreative und gestalterische Methoden und Kommunikationstrainings ergänzen die Beratungseinheiten situativ.'"
                        [teaserTitle]="'Arbeitsmethoden'">
                    </can-teaser>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="l-page-outer">
    <div class="container">
        <div class="l-page-inner">
            <div class="row">
                <div class="col">
                    <h2>modifier: '--reverse'</h2>
                    <can-teaser [imgSrc]="'../assets/img/cantieni-family.jpg'" [imgAlt]="'Familie Cornelia Cantieni'"
                        [modifier]="'reverse'" [teaserText]="'Mein Mann Thomas Rohner und ich leben in St. Gallen und seit 2015 auch in Biel und sind entsprechend in diesen Regionen engagiert. Projekte und Mandate, in denen die Themen „Holz, Organisation und Gesundheit“ miteinander eine Verbindung eingehen, gestalten wir zusammen.'"
                        [teaserTitle]="'Privatleben'">
                    </can-teaser>
                </div>
            </div>
        </div>
    </div>
</section>
