<article class="library">
  <h1 class="library__header">
    Page- and Componentlibrary
  </h1>
  <section class="library__content">
    <h2 class="library__content-header">Components</h2>
    <section class="library-content__item">
      <a class="library__content-item-link" *ngFor="let component of componentsList" [routerLink]="component.path">he</a>
    </section>
  </section>
  <section class="library__content">
    <h2 class="library__content-header">Pages</h2>
    <section class="library__content__item">
      <a class="library__content-item-link" *ngFor="let page of pagesList" [routerLink]="page.link">{{page.name}}</a>
    </section>
  </section>
</article>

<router-outlet></router-outlet>
