@import "../../shared/utils/breakpoints/css/breakpoints.scss";
@import "../../shared/utils/colors/css/colors.scss";
@import "../../shared/utils/spacings/css/spacings.scss";
@import "../../shared/utils/typo/css/typo.scss";

.library {
    @include typo-regular();
    padding: $space-small;
}

.library__header {
    color: $can-blue;
}

.content__header {
    @include fontSize(18px);
}

.content__item-link {
    transition: .3s color;
    color: $can-blue;
    &:hover {
        color: $can-blue-neon;
    }
}