<div class="container">
    <div class="row">
        <div class="col col-md-8">
            <article class="library">
                <h1 class="library__header">Page and Component Library</h1>
                <section class="library__content">
                    <h2 class="library__content-header">Components</h2>
                    <ul class="library-content__list">
                        <li *ngFor="let component of componentsList">
                            <a
                                class="library__content-item-link"
                                [routerLink]="component.link"
                                >{{ component.name }}</a
                            >
                        </li>
                    </ul>
                </section>
            </article>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col col-md-8">
            <article class="library">
                <section class="library__content">
                    <h2 class="library__content-header">Pages</h2>
                    <ul class="library-content__list">
                        <li *ngFor="let page of pagesList">
                            <a
                                class="library__content-item-link"
                                [routerLink]="page.link"
                                >{{ page.name }}</a
                            >
                        </li>
                    </ul>
                </section>
            </article>
        </div>
    </div>
</div>
