$space-super-small: 4px;
$space-base: 8px;
$space-small: 12px;
$space-small-desktop: 16px;
$space-medium: 24px;
$space-medium-desktop: 32px;
$space-large: 40px;
$space-xx-large: 54px;
$space-xxx-large: 64px;
$space-super-large: 80px;
$space-super-large-desktop: 108px;
