$font-family-fallback: Arial, sans-serif;
$montserrat-bold: 'Montserrat Bold';
$montserrat-italic: 'Montserrat Italic';
$montserrat-light: 'Montserrat Light';
$montserrat-regular: 'Montserrat Regular';
$montserrat-semibold: 'Montserrat Semi-Bold';
$montserrat-semibolditalic: 'Montserrat Semi-Bold Italic';
$montserrat-thin: 'Montserrat Thin';
