@import "../../../utils/layout/css/layout.scss";
@import "../../../utils/links/css/links.scss";
@import "../../../utils/webfonts/css/webfonts.scss";

html,
body {
    min-height: 100vh;
}

body {
    font-family: $montserrat-regular, $font-family-fallback;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
}

a {
    @include link-base();
}
